<%= simple_form_for(@dog) do |f| %>
  <%= f.input :name %>
  <%= f.input :gender, as: :select, collection: [['Female',true], ['Male',false]], required: true %>
  <%= f.input :description %>
  <%= f.input :adopted, as: :select, collection: [['Yes',true], ['No',false]], required: true %>

   <div class="form-actions" style='text-align: center'>
    <%= f.button :submit, "Submit", class: 'btn btn-flat' %>
  </div>

<% end %>
