<div style='background-color: #E8CFC1; height: 100%'>
<div class="container">

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-size: cover; background-image: url('https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); background-position: center; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

            <% if @dog.photo.attached?  %>
              <%= cl_image_tag @dog.photo.key, height: 150, style: 'z-index: 1',  crop: :fill,  class: "img-fluid img-thumbnail mt-4 mb-2" %>
            <% else %>
              <%= image_tag 'missing-image.png', class: 'mg-fluid img-thumbnail mt-4 mb-2', style: 'width: 150px; z-index: 1;' %>
            <% end %>

                <% if current_user.organization == @dog.organization %>
                <%= link_to "Edit Profile", edit_dog_path(@dog), class: "btn btn-flat", style: "z-index: 1;" %>
                <% else %>
                <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#contactModal" class='btn btn-flat', style='z-index:1'> Contact</button>
                 <% end %>


            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5 style='color: white; font-weight: bold;';><%= @dog.name %></h5>
              <p><%= @dog.organization.city %> </p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div class='d-flex'>

                <p class="mt-2 h5 align-self-center" style='padding-right: 0.5rem;'><%= @dog.likes.count %> Likes

              <% if user_signed_in? %>

              <% if @dog.liked?(current_user) %>
              <%= button_to like_path(@dog), method: 'put', class: 'like-button', disabled: true do %>
              <i class="liked fa-solid fa-heart like-button-show-page" style='padding: 0.5rem; border-radius: 50%';></i>
              <% end %>

              <% else %>
              <%= button_to like_path(@dog), class: 'not-liked', class: 'like-button', method: 'put' do %>
              <i class="not-liked fa-regular fa-heart like-button-show-page" style='padding: 0.5rem; border-radius: 50%';></i>
              <% end %>

              <% end %>

              <% end %>


               </p>
              </div>


            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"><%= @dog.description %></p>
              </div>
            </div>
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Important Information</p>
              <div class="p-4">
              <ul class="list-group w-100 mx-auto">
                <div class="list-group-item">
                <span class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #0082ca; width: 40px; height: 40px;">
                  <i class="fas fa-child fa-lg"></i>
                </span>
                <% if @dog.gender == true %>
                Female
                <% elsif @dog.gender == false %>
                Male
                <% end %>
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #ff4500; width: 40px; height: 40px;">
                  <i class="fas fa-heart fa-lg"></i>
                </div>
                Born on <%= @dog.birthday.strftime("%A, %d %B %Y") %>
                <% if @dog.estimated == true %>
                (estimated)
                <% end %>
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #00b386; width: 40px; height: 40px;">
                  <i class="fas fa-home fa-lg"></i>
                </div>
                <%= @dog.vaccinated  %>
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: pink; width: 40px; height: 40px;">
                  <i class="fas fa-paw fa-lg"></i>
                </div>
                <% if @dog.neutered == true %>
                Neutered
                <% elsif @dog.neutered == false %>
                Not Neutered
                <% end %>
              </div>
            </ul>

              </div>
            </div>

            <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About <%= @dog.organization.name  %></p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"><%= @dog.organization.description  %></p>
              </div>
              <div class="text-center" style='padding-top: 2em';>
              <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#contactModal"> Contact</button>
                  <%= render "contact", dog: @dog %>

                            <%= link_to 'Go Back', :back , class: "btn btn-flat", style: 'margin: 5px' %>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>



</div>
</div>
