<div style='background-color: #E8CFC1; height: 100%'>
<div class="container">

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-size: cover; background-image: url('https://images.unsplash.com/photo-1601880777032-b289c2f0032f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); background-position: center; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <% if @user.photo.attached?  %>
              <%= cl_image_tag @user.photo.key, height: 150, style: 'z-index: 1',  crop: :fill,  class: "img-fluid img-thumbnail mt-4 mb-2" %>
            <% else %>
              <%= image_tag 'missing-image.png', class: 'mg-fluid img-thumbnail mt-4 mb-2', style: 'width: 150px; z-index: 1;' %>
            <% end %>
                <% if @user == current_user %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-flat", style: "z-index: 1;" %>
                <% else %>
               <%= link_to "Message", '#', class: "btn btn-flat", style: "z-index: 1;" %>
                <% end  %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5 style='color: white; font-weight: bold;';><%= @user.first_name%> <%=@user.last_name %></h5>
              <p><%= @user.city %> </p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">25</p>
                <p class="small text-muted mb-0">Years Old</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">2</p>
                <p class="small text-muted mb-0">Children</p>
              </div>
              <div>
                <p class="mb-1 h5">0</p>
                <p class="small text-muted mb-0">Pets</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"><%= @user.description %></p>
              </div>
            </div>
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Home and Family</p>
              <div class="p-4">
              <ul class="list-group w-100 mx-auto">
                <div class="list-group-item">
                <span class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #0082ca; width: 40px; height: 40px;">
                  <i class="fas fa-child fa-lg"></i>
                </span>
                Two children aged 10 and 8
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #ff4500; width: 40px; height: 40px;">
                  <i class="fas fa-heart fa-lg"></i>
                </div>
                Married
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #00b386; width: 40px; height: 40px;">
                  <i class="fas fa-home fa-lg"></i>
                </div>
                Living in a house with garden
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: pink; width: 40px; height: 40px;">
                  <i class="fas fa-paw fa-lg"></i>
                </div>
                No pets in the house (yet!)
              </div>
            </ul>

              </div>
                   <div class="text-center" style='padding-top: 2em';>
                           <%= link_to 'Go Back', :back , class: "btn btn-flat" %>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>



</div>
</div>
