<%# Homepage %>

<%# Banner %>


<section class="banner" style="background-image: url('https://images.pexels.com/photos/5731820/pexels-photo-5731820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
  <div class="container" style='position: absolute; top: 40%; left: 5%;';>
    <h1>Not all <strong>soulmates</strong> are human</h1>
    <p>Adopt a pet and save a life with HeartDog!</p>
    <% if user_signed_in? %>
      <%= link_to "Find your Heart Dog", dogs_path, class: "btn btn-flat" %>
    <% else %>
       <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
       <% end %>
  </div>
</section>

  <%# Bullet points %>


 <section class="container row row-cols-1 row-cols-md-4 text-center justify-content-center pt-4" style='margin: 6% auto;'>
            <div class="col-lg-4 col-md-12 mt-3 mb-3">

              <i class="fas fa-check-circle home-icon" style='border: padding: 1rem; margin: 1rem; font-size: 2.5rem';></i>
              <p style='font-weight:bold;'>HeartDog for Owners</p>
              <p style='color: #5A5A5A'>Sign up and find the dog of your dreams for free. Get direct contact with rescuers and bring your puppy home!</p>

            </div>

            <div class="col-lg-4 col-md-12 mt-3 mb-3">

              <i class="fas fa-bullseye home-icon" style='border: padding: 1rem; margin: 1rem; font-size: 2.5rem';></i>
              <p style='font-weight:bold'>HeartDog for Organizations</p>
              <p style='color: #5A5A5A'>Register your organization and publish your dogs for free. Give your pups the visibility they deserve and find new adopters. </p>

            </div>

             <div class="col-lg-4 col-md-12 mt-3 mb-3">

              <i class="fas fa-heart home-icon" style='border: padding: 1rem;margin: 1rem; font-size: 2.5rem';></i>
              <p style='font-weight:bold'>HeartDog for the Pets</p>
              <p style='color: #5A5A5A'>Donate to support local animal organizations. 100% of your donation will be sent to your organization of choice. </p>

            </div>
  </section>

  <%# Testimonial section %>

  <section id="testimonials">


<div id="carousel-testimonials" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
            <h2 style='font-weight: bold'>I have always wanted to adopt a dog, but was unsure where to start. HeartDog made it very easy to find my match! </h2>
          <img class='testimonials-img' src="https://images.unsplash.com/photo-1600469802026-4358d4e89df3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80" alt="">
          <em>Marcus and Django, New York</em>
    </div>
    <div class="carousel-item">
              <h2 style='font-weight: bold'>I never thought I could find the perfect dog for me until Heartdog matched me with Otis. It has changed both our lives!</h2>
            <img class='testimonials-img' src="https://images.unsplash.com/photo-1521058791370-fa849b7d56cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1224&q=80" alt="">
            <em>Sarah and Otis, Amsterdam</em>
    </div>
    <div class="carousel-item">
           <h2 style='font-weight: bold'>We used to have such a hard time finding adopters. Since using HeartDogs, we've been getting emails and calls everyday!</h2>
            <img class='testimonials-img' src="https://images.unsplash.com/photo-1497994139250-caecb78f9df9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="">
            <em>Spain's Strays Organization, Barcelona</em>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-testimonials" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-testimonials" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</section>

  <%# Pricing %>

<section class='container' style='margin: 6% auto;'>

<div class="text-center m-4">
<h2 style='font-weight:bold'> Membership Plans</h2>
<p> Sign up for free or choose a membership plan to provide regular support to our organizations. </p>
</div>

  <div class="row row-cols-1 row-cols-md-4 text-center justify-content-center pt-4">

      <div class="col-lg-4 col-md-6  mb-3">
      <div class="card" style='border: 1px solid rgb(237, 114, 92, 0.4);'>
        <div class="card-text">
          <h5 class="card-title" style='background-color: rgb(237, 114, 92, 0.7); color: white; padding: 0.5rem'> Regular Access</h5>
          <h2 class='p-1'>Free </h2>
          <ul style='color: darkgrey; line-height: 2rem'>
            <li style='list-style:none'>Unlimited Matches</li>
              <li style='list-style:none'>Unlimited Messages</li>
           <li style='list-style: none'> Possibility to Donate</li>
           <li style='list-style: none'> No Priority</li>
          </ul>
           <div class="text-center pb-4">
                    <%= link_to "Sign Up for Free", new_user_registration_path, class: "btn btn-flat btn-block" %>
                  </div>
        </div>
      </div>
    </div>

      <div class="col-lg-4 col-md-6 mb-3">
      <div class="card" style='border: 1px solid rgb(237, 114, 92, 0.4);'>
        <div class="card-text">
            <h5 class="card-title" style='background-color: rgb(237, 114, 92, 0.7); color: white; padding: 0.5rem'> Supporter Membership</h5>
            <h2 class='p-1'>10€ <span style='color: #808080'>/ mo</span></h2>
            <ul style='color: darkgrey; line-height: 2rem'>
              <li style='list-style:none'>Unlimited Matches</li>
              <li style='list-style:none'>Unlimited Messages</li>
              <li style='list-style: none'> Regular donations</li>
              <li style='list-style: none'> Priority Plus</li>
            </ul>
            <div class="text-center pb-4">
                      <%= link_to "Get in Touch", '#', class: "btn btn-flat btn-block" %>
            </div>
       </div>
      </div>
    </div>

      <div class="col-lg-4 col-md-12 mb-3">
      <div class="card" style='border: 1px solid rgb(237, 114, 92, 0.4);'>
        <div class="card-text">
            <h5 class="card-title" style='background-color: rgb(237, 114, 92, 0.7); color: white; padding: 0.5rem'> Animal Lover Membership</h5>
            <h2 class='p-1'>20€ <span style='color: #808080'>/ mo</span></h2>
            <ul style='color: darkgrey; line-height: 2rem'>
              <li style='list-style:none'>Unlimited Matches</li>
              <li style='list-style:none'>Unlimited Messages</li>
              <li style='list-style:none'>Unlimited App Usage</li>
              <li style='list-style: none'> Premium Priority </li>
            </ul>
            <div class="text-center pb-4">
                      <%= link_to "Get in Touch", '#', class: "btn btn-flat btn-block" %>
            </div>
       </div>
      </div>
    </div>

</div>
</section>
