<div style='background-color: #E8CFC1; height: 100%; min-height: 100vh;'>
  <div class="container" style='padding: 100px 0; width: 50%;'>
    <div style='text-align: center; padding-bottom: 20px'>
    <h2>Membership <span style='font-weight: bold; color: #e86048;'> Information</span></h2>
    <h5> Get in touch today to upgrade your HeartDog membership!</h5>
    </div>
    <div class="">
<%= simple_form_for(@contact) do |f| %>
  <%= f.input :name %>
  <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
   <%= f.hidden_field :nickname,
                as: :hidden,
                class: 'hidden' %>

  <%= f.input :message, as: :text, required: true %>
   <div class="form-actions" style='text-align: center'>
    <%= f.button :submit, "Submit", class: 'btn btn-flat' %>
  </div>

<% end %>
</div>

  </div>
</div>
