<div class="px-8 py-6 rounded-md shadow bg-white">
    <h1 class="text-4xl text-center">Contact Railscoder</h1>
    <hr>
    <p>I'd love to hear from you. Send me a message below.</p>


<div class="container">
<%= simple_form_for(@contact) do |f| %>
  <%= f.input :name %>
  <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
   <%= f.hidden_field :nickname,
                as: :hidden,
                class: 'hidden' %>

  <%= f.input :message, required: true %>
   <div class="form-actions" style='text-align: center'>
    <%= f.button :submit, "Submit", class: 'btn btn-flat' %>
  </div>

<% end %>
</div>
