    <div class="row">


            <div class="col-lg-4 col-md-6 col-sm-6 mb-3" style='margin: auto'>
              <div class="card h-100">
              <%= link_to dog_path(@dog) do %>
                <% if @dog.photo.attached? %>
                <%= cl_image_tag @dog.photo.key, crop: :fill, class: "card-img-top" %>
                <% else %>
                <%= image_tag 'missing-image.png', class: 'card-img-top' %>
                <% end %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title text-center"> <%= @dog.name %> </h5>
                  <p class="card-text text-justify"> <%= @dog.description %></p>

                  <div class="text-center d-flex justify-content-center">
              <%= button_to like_path(@dog), class: 'like-button', style: 'margin: 1rem', method: 'put' do %>
              <i class="match-liked fa-solid fa-check" style='padding: 0.5rem; border-radius: 50%';></i>
              <% end %>
              <%= button_to dislike_path(@dog), class: 'like-button', style: 'margin: 1rem', method: 'put' do %>
              <i class="match-disliked fa-sharp fa-solid fa-xmark" style='padding: 0.5rem 0.7rem; border-radius: 50%';></i>
              <% end %>
                  </div>
                  </div>
                </div>
              </div>
            </div>
    </div>

</div>
