<%= simple_form_for [@user, @user_preference] do |f| %>
  <%= f.input :gender, as: :select, collection: [['Female',true], ['Male',false], ['No Preference',nil]], required: true %>
  <%= f.input :age_category, as: :select, collection: [['Puppy (0-1 years old)', 'Puppy'], ['Adult (1-7 years old)','Adult'], ['Senior (7+ years old','Senior'],
                                                      ['No Preference','No Preference']], required: true %>
  <%= f.input :vaccinated, :label => "Vaccination Status", as: :select, collection: [['Vaccinated', 'Vaccinated'], ['Not Vaccinated', 'Not Vaccinated'],  ['Partially Vaccinated', 'Partially Vaccinated'], ['No Preference', 'No Preference']], required: true %>
  <%= f.input :neutered, :label => "Neutered?", as: :select, collection: [['Yes',true], ['No',false], ['No Preferences', nil]], required: true %>

   <div class="form-actions" style='text-align: center'>
    <%= f.button :submit, "Submit", class: 'btn btn-flat' %>
  </div>

<% end %>
