<div style='background-color: #E8CFC1; height: 100%'>
  <div class="container" style='padding: 2rem 0;'>
    <div  style='padding: 2rem'>
    <h2 class='text-center'>Meet our <span style='font-weight: bold; color: #e86048;'> Rescuers</span> </h2>
    <h5 class='text-center'> Find out more about the heroes that saved the lives of our pups.  </h5>
    </div>


<!-- Search -->


<div class="row">
   <div class="col-lg-3 col-md-3 col-sm-3 text-center">
   </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mb-3 text-center">
      <%= form_with url: organizations_path, method: :get, class: "d-flex input-group rounded" do %>

        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded",
          placeholder: "Enter a name..." %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

     <div class="col-lg-3 col-md-3 col-sm-3 mb-3 text-center">
   </div>


<!-- [...] -->

        <% @organizations.each do |organization| %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
              <div class="card h-100">
               <% if organization.photo.attached? %>
                <%= cl_image_tag organization.photo.key, crop: :fill, class: "card-img-top" %>
                <% else %>
                <%= image_tag 'missing-image.png', class: 'card-img-top' %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title text-center"> <%= organization.name %> </h5>
                  <p class="card-text text-justify"> <%= organization.description %></p>
                  <div class="text-center">
                    <%= link_to "Find Out More", organization_path(organization), class: "btn btn-flat" %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
