<div style='background-color: #E8CFC1; height: 100%'>
<div class="container">

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-size: cover; background-image: url('https://images.unsplash.com/photo-1542715234-4bafcfc68bd9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); background-position: center; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
            <% if @organization.photo.attached? %>
                 <%= cl_image_tag @organization.photo.key, height: 150, style: 'z-index: 1',  crop: :fill,  class: "img-fluid img-thumbnail mt-4 mb-2" %>
                 <% else %>
                <%= image_tag 'missing-image.png', class: 'mg-fluid img-thumbnail mt-4 mb-2', style: 'width: 150px; z-index: 1;' %>
                <% end %>
                <% if current_user == @organization.user %>
                <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-flat", style: "z-index: 1;" %>
                <% else %>
               <%= link_to "Chat", new_chatroom_path(chat_user: @organization.user), class: "btn btn-flat", style: "z-index: 1;" %>
                <% end %>

            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5 style='color: white; font-weight: bold;';><%= @organization.name%></h5>
              <p> <%= @organization.address%>, <%= @organization.city%> </p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5"><%= @organization.dogs.count %></p>
                <p class="small text-muted mb-0">Dogs</p>
              </div>
              <div class="px-3">

              </div>
              <div>
                  <p class="mb-1 h5"><%= @organization.dogs.where(adopted: "true").count %></p>
                <p class="small text-muted mb-0">Adoptions</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                 <p class="font-italic mb-1"> <%=  @organization.description %></p>
              </div>
            </div>
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Get in Touch</p>
              <div class="p-4">
              <ul class="list-group w-100 mx-auto">
                <div class="list-group-item">
                <span class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #0082ca; width: 40px; height: 40px;">
                  <i class="fab fa-whatsapp fa-lg"></i>
                </span>
                <%= @organization.whatsapp %>
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #ff4500; width: 40px; height: 40px;">
                  <i class="fas fa-envelope fa-lg"></i>
                </div>
                <%= @organization.email %>
              </div>
              <div class="list-group-item">
                <div class="d-inline-flex align-items-center justify-content-center text-white rounded m-1 me-2" style="background-color: #00b386; width: 40px; height: 40px;">
                  <i class="fas fa-laptop fa-lg"></i>
                </div>
                <%= @organization.website %>
              </div>
            </ul>

              </div>
            </div>
            <div class="mb-5">
            <div.d-flex
>
              <div class='d-flex justify-content-between'>
              <p class="lead fw-normal mb-1">Available Dogs </p>
              <% if current_user.organization == @organization %>
                <p><%= link_to "Add +", new_dog_path, class: "btn btn-flat", style: "margin: 0; background-color: #00b386;" %> </p>
              <% else %>
              <div ></div>
              <% end %>
              </div>

              <div class="row row-cols-1 row-cols-md-3">
            <% @available_dogs.each do |dog| %>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
              <div class="card h-100">
                <% if dog.photo.attached? %>
                <%= cl_image_tag dog.photo.key, crop: :fill, class: "card-img-top" %>
                <% else %>
                <%= image_tag 'missing-image.png', class: 'card-img-top'  %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title text-center"> <%= dog.name %> </h5>
                  <p class="card-text text-justify"> <%= dog.description %></p>
                  <div class="text-center">
                     <% if current_user == @organization.user %>
                    <%= link_to "View", dog_path(dog), class: "btn btn-flat" %>
                    <%= link_to "Edit", edit_dog_path(dog), class: "btn btn-flat" %>
                    <% else %>
                   <%= link_to "Find Out More", dog_path(dog), class: "btn btn-flat" %>
                   <% end %>


                  </div>


                </div>
              </div>
            </div>
        <% end %>
    </div>

          <div class='text-center m-4'>
             <%= link_to 'Back', :back , class: "btn btn-flat" %>
           </div>
              </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>



</div>
</div>
